
<% include ../partials/header.ejs %>

<% if (successMsg) { %>
<div class="alert alert-success"><%= successMsg %></div>
<% } %>

<div class="d-flex flex-wrap justify-content-center">

<% for (var i = 0; i < products.length; i++) { %>

  <div class="card" style="width: 18rem; margin: 10px;">
    <img class="card-img-top img-fluid" src="<%= products[i].imagePath %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= products[i]['title'] %></h5>
      <p class="card-text"><%= products[i]['description'] %></p>
      <div class="price float-left">$ <%= products[i]['price'] %></div>
      <div class="d-flex justify-content-end">
        <a href="/movies/delete/<%= products[i]._id %>" class="btn btn-danger btn-sm float right mr-1">Delete</a>
        <a href="/add-to-cart/<%= products[i]._id %>" class="btn btn-success
        btn-sm float-right">Add to Cart</a>
      </div>
    </div>
  </div>


<% } %>


</div>


<% include ../partials/footer.ejs %>
