
<% include ../partials/header.ejs %>

<div class="d-flex flex-wrap">

<% for (var i = 0; i < products.length; i++) { %>

  <div class="card" style="width: 18rem; margin: 10px;">
    <img class="card-img-top img-fluid" src="<%= products[i].imagePath %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= products[i]['title'] %></h5>
      <p class="card-text"><%= products[i]['description'] %></p>
      <div class="price float-left">$ <%= products[i]['price'] %></div>
      <a href="/add-to-cart/<%= products[i]._id %>" class="btn btn-success float-right">Add to Shopping Cart</a>
    </div>
  </div>


<% } %>


</div>


<% include ../partials/footer.ejs %>
